/**************************GENERAL****************************/
*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}

body{
    font-size: 15px;
    margin: 0;
    padding: 0 ;
    width: 100%;
    overflow-x: hidden; 
}
/**************************HEADER****************************/
    .nav-header{
        display: flex;
        height: 100%;
        padding-right: 0;
    }

    header ul{
        display: flex;
        gap: 6px;
        margin: 0;
        height: 100%;
    }
    
    header li{
        list-style: none;
        border-top: 2px solid white;
        padding: 25px 10px 10px 10px;
        height: 100%;
    }
    
    header ul li:hover a{
        color: #0065FC;
    }
    
    header ul li:hover{
        border-color: #0065FC;
    }
    
    
    #entête{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 20px;
    }
    
    #header-top-left {
        padding: 10px 0;
    }
    #header-top-left h3{
        margin: 0;
        padding: 0 0 0 30px; 
        font-size: 18px;
        font-weight: bold;
    }
    
    #header-top-left p{
        margin: 0;
        padding: 8px 0 15px 30px; 
    }

    .filtre-info{
        padding: 0 20px;
    
    }
    
    #barre-de-recherche{
        display: flex;
        padding: 0 20px ;
    }
    

    
    #position{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #F2F2F2;
        height: 38px;
        width: 40px;  
        cursor:pointer;
        background-color: ghostwhite;
        border-radius: 10px 0 0 10px;
    }
    
    #centre-recherche{
        width: 220px;
        height: 40px;
        padding: 0;
        border: 1px solid #F2F2F2;
    }
    
    .buttom-submit{
        display: flex;
        justify-content: center;
        height: 40px;
        align-items: center;
        background-color: #0065FC;
        border-radius: 0 10px 10px 0;
        padding: 0 20px;
        color: white;
    }
    
    .buttom-submit2{
        display: none;
    }
    
    #filtre{
        display: flex;
        padding: 20px;
        gap: 40px;
    }

    
    #filtre2{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5px;
        font-size: 17px;
    }
    
    #filtre i{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #deebff;
        color: #0065FC;
        background-color: #DEEBFF;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 20px;
    }

    #filtre-economie{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid #F2F2F2;
        gap: 9px;
        margin: 0;
        padding: 0;
        width: 160px;
        font-size: 16px;
        border-radius: 80px;
        height: 40px;
    }
    #filtre-economie:hover{
        background-color: #DEEBFF;
    }

    
    #filtre-familial{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid #F2F2F2;
        gap: 9px;
        margin: 0;
        padding: 0;
        width: 130px;
        font-size: 15px;
        border-radius: 80px;
        height: 40px;
    }

    #filtre-familial:hover{
        background-color: #DEEBFF;
    }
    
    #filtre-romantique{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid #F2F2F2;
        gap: 9px;
        margin: 0;
        padding: 0;
        width: 170px;
        font-size: 15px;
        border-radius: 80px;
        height: 40px;
    }
    
    #filtre-romantique:hover{
        background-color: #DEEBFF;
    }

    #filtre-animaux{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid #F2F2F2;
        gap: 9px;
        margin: 0;
        padding: 0;
        width: 205px;
        font-size: 15px;
        border-radius: 80px;
        height: 40px;
    } 
    
    #filtre-animaux:hover{
        background-color: #DEEBFF;
    }

    #header-fin{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        padding: 20px;
    }
    #header-fin i{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #deebff;
        color: #0065FC;
        border-radius: 50px;
        width: 20px;
        height: 20px;
        font-size: 12px;
    }
    /*********************************FIRST PART OF SECTION**********************************/
    
    #hebergement{
        display: flex;
        justify-content: space-between;
        gap: 30px;
        padding: 0 20px;
    }
    #hebergement img{
        object-fit: cover;
    }
    
    .hebergements{
        width: 70%;
        background-color: #F2F2F2;
        border-radius: 15px;
        padding: 20px;
    }
    .hebergements img{
        width: 100%;
    }
    
    .description{
        padding-left: 10px;
    }
    
    .line-stars{
        padding-left: 10px;
        padding-bottom: 5px;
    }

    .fa-star{
        color: #0065FC;
    }
    .gris{
        color: #F2F2F2;
    }    
    /*************************************SECOND PART OF SECTION************************************/
    
    .chambre-marseille{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
    }
    .auberge{
        width: 30%;
        border-radius: 15px;
        border: 3px solid white;
        background-color: white;
        overflow: hidden;
        box-shadow: 0 0 10px #CCC;
        margin-bottom: 15px;
    }
    
    .auberge:hover{
        transform: scale(1.1);
    }
    
    .title-populaire{
        display: flex;
        justify-content: space-between;
    }
    
    .les-plus-populaires{
        width: 30%;
        background-color: #F2F2F2;
        border-radius: 15px;
        padding: 15px
    }
    
    #les-plus-populaires{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
    }
    .les-plus-populaires img{
        height: 100%;
        width: 180px ;
    }

    .meilleur{
        display: flex;
        position: relative;
        border: 3px solid white;
        border-radius: 15px;
        background-color: white;
        overflow: hidden;
        width: 100%;
        box-shadow: 0 0 10px #CCC;
        height: 160px;
    }

    .meilleur:hover{
        transform: scale(1.1);
    }

    .etoile-populaire{
        display: flex;
        position: absolute;
        bottom: 15px;
    }
    
    .description-populaire{
        word-wrap: break-word;
        padding-left: 20px;
    }
    
    
    /*******************************************ACTIVITE*************************************/
    
    .titre{
        width: 100%;
        padding: 0 20px;
    }
    #activite img{
        width: 100%;
        border-radius: 0;
        object-fit: cover;
    }

    #activite{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        box-sizing: border-box;
        width: 100%;
        box-shadow: 0 0 10px white;
        padding: 40px 20px;
    }
     
    .nom-activite{
        padding-left: 10px;
    }

    #bloc1{
        display: flex;
        justify-content: space-between;
        gap: 25px;
        width: 48%;
    }
    
    #bloc2{
        display: flex;
        justify-content: space-between;
        gap: 25px;
        width: 48%;
        padding-right: 20px;
    }

    #vieux-port{
        width: 50%;
    }
    .ensemble{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        gap: 10px;
    }

    #Parc-National-des-Calanques{
        width: 50%;
    }

    .part3{
        overflow: hidden;
        border-radius: 15px;
        box-shadow: 0 0 10px #CCC;
    }

    .part3:hover{
        transform: scale(1.1);
    }
    /******************************************BAS DE PAGE*********************************************/
    footer{
        display: flex;
        border: 1px solid #F2F2F2;
        background-color: #F2F2F2;
        gap: 40px;
        height: 250px;
        justify-content: space-between;
    }
    
    footer ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        text-align: left;
        padding-left: 5px;
    }
    
    .bas{
        width: 25%;
        font-size: medium;
        box-sizing: border-box;
    }
    .bas:nth-child(1){
        padding-left: 30px;
    }
    footer h3{
        text-align: left;
    }
    footer li{
        list-style-type: none;
    } 



