/*********************************VERSION TABLETTE**********************************/
    
@media screen and (min-width:768px) and (max-width:992px){
    #entête{
        flex-wrap: wrap;
    }
    #filtre{
        flex-wrap: wrap;
        gap: 6px;
    }
    #header-fin{
    padding-top: 20px;
    }
    #hebergement{
        flex-direction: column-reverse;
        padding-left: 5px;
    }
    .les-plus-populaires{
        width: 100%;
        padding: 10px;
        padding-left: 0;
        margin: 5px 0;
    }
    .les-plus-populaires img{
        object-fit: cover;
        width: 100%;
    }
    #les-plus-populaires{
        display: flex;
        flex-direction: row;
        height: 100%;
    }
    .description-populaire{
        padding: 0 0 10px 10px;
    }
    .etoile-populaire{
        position: absolute;
        bottom: 10px;
    }
    .meilleur{
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 100%;
    }
    .description-populaire{
        padding-left: 0px;
        height: 120px;
    }
    .meilleur img{
        width: 100%;
        height: 140px;
    }
    .chambre-marseille{
        width: 100%;
    }
    .hebergements{
        width: 100%;
        padding: 10px;
    }
    .titre{
        padding-left: 10px
    }
    #activite img{
        width: 100%;
    }

    #activite{
        justify-content: flex-start;
        width: 100%;
        padding: 20px 10px;
    }

    #bloc1{
        justify-content: flex-start;
        gap: 15px;
        width: 100%;
        margin-bottom: 20px;
    }
    
    #bloc2{
        justify-content: flex-start;
        gap: 15px;
        width: 100%;
        padding-right: 10px;
    }

    #vieux-port{
        width: 60%;   
    }
    
    #Parc-National-des-Calanques{
        width: 60%;
    }
    .ensemble{
        width: 60%;
    }

    .part3{
        width: 100%;
    }
}